@font-face {
  font-family: 'GongGothicMedium';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10@1.0/GongGothicMedium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

:root{
  --main-color : #334AAA;
  --sub-color : #F2F6FF;
}

html{
  font-size: 62.5%;
}

/* reset */
body {
  margin: 0;
  /* background-color: #fcffca; */
}

h1,
h2,
h3 {
  padding: 0;
  margin: 0;
  font: inherit;
}

img {
  vertical-align: top;
}

a {
  color: inherit;
  text-decoration: none;
}

input,
button {
  font: inherit;
  padding: 0;
  margin: 0;
}

button {
  border: 0;
  background: none;
}

button:enabled {
  cursor: pointer;
}

ul,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}

p {
  margin: 0;
}

/* css 시작 */
body {
  height: 100%;
  overflow: auto;
  font-family: 'Pretendard-regular';
  box-sizing: border-box;

}

header{
  font-family: 'GongGothicMedium';
  height: 140px;
  background: rgb(46, 77, 172);
  background: linear-gradient(90deg, rgba(46, 77, 172, 1) 0%, rgba(115, 34, 142, 1) 100%);
}

.headerWrap{
  max-width: 1400px;
  height: 140px;
  margin: 0 auto;
  font-size: 2.4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 500;
  color: white;
}

.headerWrap img{
  width: 8.6rem;
  padding-left: 2rem;
}

.headerWrap ul li{
  float: left;
  padding: 2rem;
}

.headerWrap ul li:hover{
  cursor: pointer;
  animation: move 0.8s infinite;
}
@keyframes move {
  0%{transform: rotate(-3deg);}
  50%{transform: rotate(3deg);}
  100%{transform: rotate(-3deg);}
}

main .recommendPlace,
main .tourist {
  max-width: 1400px;
  margin: 0 auto;
}

section h2 {
  font-family: 'GongGothicMedium';
  font-size: 2.4rem;
  margin: 7rem 0 1.6rem 0;
  padding: 2rem 1rem;
  text-align: center;
}

#selectAreaa{
  margin-bottom: 4rem;
  display: flex;
  flex-direction: row;
  gap: 2rem;
  justify-content: center;
  z-index: 20;
  font-size: 1.4rem;
}

.selectBox * { box-sizing: border-box; }
.selectBox {
  position: relative;
  width: 150px;
  height: 35px;
  border-radius: 4px;
  border: 2px solid var(--main-color);
  background: url('../img/icon-arrow.png') calc(100% - 7px) center no-repeat;
  background-size: 20px;
  cursor: pointer;
}

.selectBox:after {
  content: '';
  display: block; 
  width: 2px;
  height: 100%; 
  position: absolute; 
  top: 0; 
  right: 35px;
  background: var(--main-color);
}

.selectBox .label {
  display: flex;
  align-items: center;
  width: inherit;
  height: inherit;
  border: 0 none;
  outline: 0 none;
  padding-left: 15px;
  background: transparent;
  cursor: pointer;
}

.selectBox .optionList {
  position: absolute; 
  top: 40px;
  left: 0;
  width: 100%;
  background: var(--main-color);
  color: #fff;
  list-style-type: none;
  padding: 0;
  border-radius: 6px;
  overflow: hidden;
  max-height: 0;
  transition: .3s ease-in;
  z-index: 20;
}

.selectBox.active .optionList {
  max-height: 500px;
}

.selectBox .optionItem {
  border-bottom: 1px dashed var(--sub-color);
  padding: 5px 15px 5px;
  transition: .1s;
}

.selectBox .optionItem:hover {
  background: var(--sub-color);
  color: var(--main-color);
}

.selectBox .optionItem:last-child {
  border-bottom: 0 none;
}

.selectBox .optionList::-webkit-scrollbar {width: 6px;}
.selectBox .optionList::-webkit-scrollbar-track {background: transparent; }
.selectBox .optionList::-webkit-scrollbar-thumb {background: #303030; border-radius: 45px;}
.selectBox .optionList::-webkit-scrollbar-thumb:hover {background: #303030;}

#tourAreas {
  display: flex;
  flex-wrap: wrap;
  gap: 2.6rem;
  align-items: center;
  justify-content: center;
}

#tourAreas .area {
  width: 33rem;
  height: 33rem;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;

}

#tourAreas .area img, #searchList li img{
  width: 33rem;
  aspect-ratio: 1/1;
  object-fit: cover;
  border-radius: 2rem;
  box-shadow: 1px 1px 5px rgb(195, 195, 195);
}

#tourAreaTitle {
  max-width: 26rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  word-break: break-all;
  font-size: 2rem;
  position: absolute;
  padding: 1.4rem;
  top: 3rem;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 5rem;
  color: var(--main-color);
  font-family: 'GongGothicMedium';
}

#tourAreaAddress {
  width: 26rem;
  position: absolute;
  bottom: 3rem;
  font-size: 1.6rem;
  color: white;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  word-break: break-all;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.7);
  color: var(--main-color);
  border-radius: 5rem;
  padding: 0.5rem;
  font-weight: bold;
}

#pagination{
  font-family: 'GongGothicMedium';
  margin: 0 auto;
  margin-top: 2rem;
  max-width: 1400px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.4rem;
}

#pagination button{
  width: 15rem;
  background-color: var(--main-color);
  padding: 1rem;
  color: white;
  border-radius: 3rem;
  margin: 0 6rem;
  word-break: keep-all;
}